[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.5"

[packages]
click = "*"
itsdangerous = "*"
python-dotenv = "*"
Flask = "*"
"Jinja2" = "*"
MarkupSafe = "*"
Werkzeug = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"

[dev-packages]
